body {padding-top: 3.5rem; background-color: white;}
.card-img-background{background-color: white;}
.table-body {background-color: white;}
.table-head {background-color: #e9ecef;}
hr {border: none; height: 1.5px; color: #e9ecef; background-color: #e9ecef;}

* {
    transition: background-color 0.4s ease, color 0.3s ease;
  }