/* Root colors */
:root {
   /* Lightmode colors */
   --bg-color: #fff;
   --text-color: #000;
   --sec-color: #e9ecef;
   --third-color: #dadada;
   --muted-color: #686b6e;
}

[data-theme = "dark"] {
   --bg-color: #000;
   --text-color: #fff;
   --sec-color: #1f1f1f;
   --third-color: #2e2e2e;
   --muted-color: #585858;
}

/* Transition */
/* .transition {transition: background-color 1.5s ease 0s, color 0.2s ease 0s;} */
/* Chrome */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {* {transition: background-color 1.5s ease 0s, color 0.2s ease 0s;}} */
/* Firefox */
/* @-moz-document url-prefix() {* {transition: background-color 1.5s ease;}} */
/* Safari */
/* @media not all and (min-resolution: 0.001dpcm) {* {transition: background-color 1.5s ease 0s, color 0.2s ease 0s;}} */

/* 404 page */
html.error-page, html.error-page body {width: 100%; height: 100%;}

/* Adjust the color of the theme button */
a.themeButton {color: #929496 !important;}
a.themeButton:hover {color: #fff !important;}

/* Add some thickness to hr breaker */
hr {border-top: 2px solid !important; color: var(--muted-color);}

/* Lightmode specific color changes */
/* Body */
body {background-color: var(--bg-color) !important; color: var(--text-color) !important; border-radius: 1px;}
/* Secondary colors */
div.secondary-color {background-color: var(--sec-color); border-color: var(--muted-color); color: var(--text-color);}
/* Third colors */
div.third-color {background-color: var(--third-color) !important; border-color: var(--muted-color); color: var(--text-color);}
/* Footer */
.text-muted-color {color: var(--muted-color);}
/* Tab menu */
.nav-pane.active {border-color: #e9ecef !important; background-color: var(--sec-color) !important; color: var(--text-color) !important; border: none; transition: 1.5s ease;}
.nav-tabs {border-color: var(--sec-color) !important;}
.nav-pane.nav-link:hover {color: var(--text-color); background-color: var(--sec-color);}
.nav-pane.nav-link {transition: 1.5s ease;}
/* Table */
thead {background-color: var(--muted-color) !important; color: var(--text-color) !important;}
tbody {background-color: var(--sec-color) !important; color: var(--text-color) !important;}
.table-text {color: var(--text-color) !important;}
.table-hover>tbody>tr:hover {background-color: var(--muted-color) !important; color: var(--text-color) !important;}
.table.table-bordered {border-color: var(--text-color) !important;}
/* Pagination */
.pagination>.page-item>.page-link {background-color: var(--sec-color) !important; border-color: transparent !important; color: var(--text-color); transition: 1.5s ease;}
.pagination>.page-item.active>.page-link {background-color: var(--muted-color) !important;}
.pagination>.page-item.active {border: none !important;}
.pagination>.page-item>.page-link:focus {-webkit-box-shadow: none !important; box-shadow: none !important;}
.pagination>.page-item>.page-link:hover {-webkit-box-shadow: var(--muted-color) !important; box-shadow: var(--muted-color) !important;}
.pagination-detail>.page-list>.dropup>.dropdown-toggle {background-color: var(--sec-color) !important; box-shadow: none !important; color: var(--text-color); border: none !important; transition: 1.5s ease;}
.pagination-detail>.page-list>.dropup>.dropdown-menu.show>.dropdown-item.active {background-color: var(--muted-color) !important; color: var(--text-color);}
.pagination-detail>.page-list>.dropup>.dropdown-menu.show>.dropdown-item:hover {background-color: var(--muted-color); color: var(--text-color);}
.pagination-detail>.page-list>.dropup>.dropdown-menu {background-color: var(--sec-color) !important; color: var(--text-color); border: none;}
.search>.search-input {background-color: var(--sec-color) !important; color: var(--text-color); border: none !important; transition: 1.5s ease;}
.search>.search-input::placeholder {color: var(--sec-color); color: var(--text-color); transition: 1.5s ease;}