html, body {
  height: 100%;
  margin: 0;
  background-color: #ddf0e9;
}

body {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
  margin: 0; 
  font-size: 9vw;
}

p{
  text-align: center;
  line-height: 0.0000000001;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  margin-top: 10px;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}